*.aux
*.log
*.out
*.toc
*.synctex.gz
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.lof
*.lot
*.nav
*.snm
*.vrb
*.gz
Data/
*.csv
*.xls
*.xlsx
*.jpg
*.jpeg
*.png
__pycache__/
*.py[cod]
*.pyo
*.ipynb_checkpoints/
.DS_Store
*.pth
*optuna_db/
*Tensorboard/
*.pt
!checkpoints_opt/trial_10.pt